In [7]:
import pandas as pd

# PANDAS

In [9]:
df = pd.read_csv('C:/Users/D.Elistratov/Documents/Презентации лекций/Неделя 6/ПИТОН/ORDER_LIST.csv')

In [10]:
#### Количество строк

len(df)

5000

In [11]:
#### Индекс датафрейма

df.index

RangeIndex(start=0, stop=5000, step=1)

In [12]:
#### Приводим к дате

df['order_time'] = pd.to_datetime(df['order_time'])
df['assign_time'] = pd.to_datetime(df['assign_time'])
df['arrive_to_client_time'] = pd.to_datetime(df['arrive_to_client_time'])
df['order_finish_time'] = pd.to_datetime(df['order_finish_time'])

In [13]:
#### Уникальные водители и заказы

print('COUNT DISTINCT ID_DRIVER',len(df['id_driver'].unique()))
print('COUNT DISTINCT ID_ORDER',len(df['id_order'].unique()))

COUNT DISTINCT ID_DRIVER 3296
COUNT DISTINCT ID_ORDER 5000

In [14]:
#### Заполним НУЛЛЫ 

df['id_driver'] = df['id_driver'].fillna(-1)

In [15]:
#### Посмотрим первые 10 строк

df.head(10)

,id_order,id_driver,order_time,assign_time,arrive_to_client_time,order_finish_time,id_tariff,id_city
0,113612,1644.0,2021-07-01 00:13:39,NaT,NaT,NaT,11.0,117
1,110195,280.0,2021-07-01 00:17:26,2021-07-01 00:23:26,2021-07-01 00:33:26,NaT,11.0,112
2,114560,2536.0,2021-07-01 00:36:00,2021-07-01 00:41:00,2021-07-01 00:44:00,2021-07-01 01:42:00,10.0,115
3,111284,-1.0,2021-07-01 00:36:32,NaT,NaT,NaT,11.0,111
4,110131,3730.0,2021-07-01 00:36:34,2021-07-01 00:40:34,2021-07-01 00:50:34,NaT,10.0,118
5,113643,3597.0,2021-07-01 00:36:35,NaT,NaT,NaT,65.0,116
6,111093,4306.0,2021-07-01 01:05:39,2021-07-01 01:11:39,NaT,NaT,10.0,111
7,112639,327.0,2021-07-01 01:05:48,2021-07-01 01:09:48,2021-07-01 01:17:48,2021-07-01 02:04:48,10.0,115
8,110664,1147.0,2021-07-01 01:25:20,2021-07-01 01:31:20,2021-07-01 01:42:20,NaT,10.0,111
9,110017,2625.0,2021-07-01 01:41:09,2021-07-01 01:45:09,NaT,NaT,78.0,111

In [16]:
#### тип объекта - датафрейм

type(df)

pandas.core.frame.DataFrame

In [17]:
#### датафрейм состоит из серий (series)

type(df['id_order'])

pandas.core.series.Series

In [18]:
#### создание новых колонок

df['only_five'] = 5

In [20]:
#### Сменим индексацию

df = df.set_index('id_order')

In [132]:
#### индекс колонки-серии - это индекс датафрейма

vect_driver = df['id_driver']
vect_driver.index

DatetimeIndex(['2021-07-01 00:13:39', '2021-07-01 00:17:26',
               '2021-07-01 00:36:00', '2021-07-01 00:36:32',
               '2021-07-01 00:36:34', '2021-07-01 00:36:35',
               '2021-07-01 01:05:39', '2021-07-01 01:05:48',
               '2021-07-01 01:25:20', '2021-07-01 01:41:09',
               ...
               '2021-07-31 21:43:45', '2021-07-31 21:55:45',
               '2021-07-31 22:00:49', '2021-07-31 22:05:11',
               '2021-07-31 22:11:11', '2021-07-31 22:23:06',
               '2021-07-31 22:33:22', '2021-07-31 22:38:43',
               '2021-07-31 22:42:38', '2021-07-31 23:09:15'],
              dtype='datetime64[ns]', name='order_time', length=5000, freq=None)

In [24]:
#### Выберем несколько колонок датафрейма

df[['id_driver','order_time']]

          id_driver          order_time
id_order
113612       1644.0 2021-07-01 00:13:39
110195        280.0 2021-07-01 00:17:26
114560       2536.0 2021-07-01 00:36:00
111284         -1.0 2021-07-01 00:36:32
110131       3730.0 2021-07-01 00:36:34
...             ...                 ...
110175       3952.0 2021-07-31 22:23:06
112011        869.0 2021-07-31 22:33:22
113759       2831.0 2021-07-31 22:38:43
113847       3443.0 2021-07-31 22:42:38
110907       1487.0 2021-07-31 23:09:15

[5000 rows x 2 columns]

In [ ]:
#### Создадим резервную копию нашего датафрейма

dfa = df.copy()

In [25]:
#### Создадим свою серию 

sa = pd.Series([1, 2, 3, 4], index=list('abcd'))

In [47]:
#### Создадим свой датафрейм 

x = pd.DataFrame({'x': [1, 2, 3, 4], 'y': [3, 4, 5, 6]})

In [133]:
#### Посмотрим первые три строчки

df[:3]

,id_driver,assign_time,arrive_to_client_time,order_finish_time,id_tariff,id_city,only_five
order_time,,,,,,,
2021-07-01 00:13:39,1644.0,NaT,NaT,NaT,11.0,117,5
2021-07-01 00:17:26,280.0,2021-07-01 00:23:26,2021-07-01 00:33:26,NaT,11.0,112,5
2021-07-01 00:36:00,2536.0,2021-07-01 00:41:00,2021-07-01 00:44:00,2021-07-01 01:42:00,10.0,115,5

In [64]:
#### Посмотрим строчки через 3

df[::3]

,id_driver,order_time,assign_time,arrive_to_client_time,order_finish_time,id_tariff,id_city,only_five
id_order,,,,,,,,
113612,1644.0,2021-07-01 00:13:39,NaT,NaT,NaT,11.0,117,5
111284,-1.0,2021-07-01 00:36:32,NaT,NaT,NaT,11.0,111,5
111093,4306.0,2021-07-01 01:05:39,2021-07-01 01:11:39,NaT,NaT,10.0,111,5
110017,2625.0,2021-07-01 01:41:09,2021-07-01 01:45:09,NaT,NaT,78.0,111,5
110508,4456.0,2021-07-01 02:32:12,2021-07-01 02:33:12,2021-07-01 02:35:12,2021-07-01 03:37:12,11.0,118,5
...,...,...,...,...,...,...,...,...
112609,3842.0,2021-07-31 21:12:58,2021-07-31 21:14:58,2021-07-31 21:25:58,2021-07-31 21:57:58,1.0,111,5
111372,4655.0,2021-07-31 21:22:21,2021-07-31 21:26:21,2021-07-31 21:33:21,2021-07-31 22:46:21,10.0,111,5
114283,3973.0,2021-07-31 22:00:49,NaT,NaT,NaT,78.0,112,5
110175,3952.0,2021-07-31 22:23:06,2021-07-31 22:25:06,2021-07-31 22:33:06,2021-07-31 23:09:06,10.0,111,5
113847,3443.0,2021-07-31 22:42:38,2021-07-31 22:46:38,NaT,NaT,1.0,113,5

In [65]:
#### Посмотрим все строчки кроме последней

df[:-1]

,id_driver,order_time,assign_time,arrive_to_client_time,order_finish_time,id_tariff,id_city,only_five
id_order,,,,,,,,
113612,1644.0,2021-07-01 00:13:39,NaT,NaT,NaT,11.0,117,5
110195,280.0,2021-07-01 00:17:26,2021-07-01 00:23:26,2021-07-01 00:33:26,NaT,11.0,112,5
114560,2536.0,2021-07-01 00:36:00,2021-07-01 00:41:00,2021-07-01 00:44:00,2021-07-01 01:42:00,10.0,115,5
111284,-1.0,2021-07-01 00:36:32,NaT,NaT,NaT,11.0,111,5
110131,3730.0,2021-07-01 00:36:34,2021-07-01 00:40:34,2021-07-01 00:50:34,NaT,10.0,118,5
...,...,...,...,...,...,...,...,...
113893,4072.0,2021-07-31 22:11:11,2021-07-31 22:14:11,2021-07-31 22:18:11,2021-07-31 23:17:11,1.0,111,5
110175,3952.0,2021-07-31 22:23:06,2021-07-31 22:25:06,2021-07-31 22:33:06,2021-07-31 23:09:06,10.0,111,5
112011,869.0,2021-07-31 22:33:22,NaT,NaT,NaT,10.0,116,5
113759,2831.0,2021-07-31 22:38:43,2021-07-31 22:41:43,2021-07-31 22:52:43,2021-07-31 23:14:43,10.0,111,5
113847,3443.0,2021-07-31 22:42:38,2021-07-31 22:46:38,NaT,NaT,1.0,113,5

In [ ]:
###############  .loc   &    .iloc

In [67]:
df = df.set_index('order_time')

In [69]:
df.loc['2021-07-01 00:00:00':'2021-07-03 00:00:00']

<ipython-input-69-ad52bb64683c>:1: FutureWarning: Value based partial slicing on non-monotonic DatetimeIndexes with non-existing keys is deprecated and will raise a KeyError in a future Version.
  df.loc['2021-07-01 00:00:00':'2021-07-03 00:00:00']

,id_driver,assign_time,arrive_to_client_time,order_finish_time,id_tariff,id_city,only_five
order_time,,,,,,,
2021-07-01 00:13:39,1644.0,NaT,NaT,NaT,11.0,117,5
2021-07-01 00:17:26,280.0,2021-07-01 00:23:26,2021-07-01 00:33:26,NaT,11.0,112,5
2021-07-01 00:36:00,2536.0,2021-07-01 00:41:00,2021-07-01 00:44:00,2021-07-01 01:42:00,10.0,115,5
2021-07-01 00:36:32,-1.0,NaT,NaT,NaT,11.0,111,5
2021-07-01 00:36:34,3730.0,2021-07-01 00:40:34,2021-07-01 00:50:34,NaT,10.0,118,5
...,...,...,...,...,...,...,...
2021-07-02 23:37:30,703.0,NaT,NaT,NaT,65.0,111,5
2021-07-02 23:39:37,1401.0,2021-07-02 23:45:37,2021-07-02 23:54:37,NaT,1.0,114,5
2021-07-02 23:45:35,2952.0,NaT,NaT,NaT,78.0,111,5
2021-07-02 23:47:12,2439.0,2021-07-02 23:50:12,NaT,NaT,1.0,119,5
2021-07-02 23:53:10,4544.0,2021-07-02 23:57:10,NaT,NaT,1.0,116,5

In [75]:
#print(df.loc['2021-07-01 00:00:00':'2021-07-03 00:00:00', ['id_driver','assign_time']])
df.loc['2021-07-01 00:00:00':'2021-07-03 00:00:00', 'id_driver':'assign_time']

C:\Users\D.Elistratov\anaconda3\lib\site-packages\pandas\core\indexing.py:1069: FutureWarning: Value based partial slicing on non-monotonic DatetimeIndexes with non-existing keys is deprecated and will raise a KeyError in a future Version.
  return self._getitem_tuple_same_dim(tup)

                     id_driver         assign_time
order_time
2021-07-01 00:13:39     1644.0                 NaT
2021-07-01 00:17:26      280.0 2021-07-01 00:23:26
2021-07-01 00:36:00     2536.0 2021-07-01 00:41:00
2021-07-01 00:36:32       -1.0                 NaT
2021-07-01 00:36:34     3730.0 2021-07-01 00:40:34
...                        ...                 ...
2021-07-02 23:37:30      703.0                 NaT
2021-07-02 23:39:37     1401.0 2021-07-02 23:45:37
2021-07-02 23:45:35     2952.0                 NaT
2021-07-02 23:47:12     2439.0 2021-07-02 23:50:12
2021-07-02 23:53:10     4544.0 2021-07-02 23:57:10

[321 rows x 2 columns]

In [83]:
df.iloc[1:5, [3,4]]

                      order_finish_time  id_tariff
order_time
2021-07-01 00:17:26                 NaT       11.0
2021-07-01 00:36:00 2021-07-01 01:42:00       10.0
2021-07-01 00:36:32                 NaT       11.0
2021-07-01 00:36:34                 NaT       10.0

In [82]:
df.loc['2021-07-01 00:17:00':'2021-07-01 00:36:34', ['order_finish_time','id_tariff']]

C:\Users\D.Elistratov\anaconda3\lib\site-packages\pandas\core\indexing.py:1069: FutureWarning: Value based partial slicing on non-monotonic DatetimeIndexes with non-existing keys is deprecated and will raise a KeyError in a future Version.
  return self._getitem_tuple_same_dim(tup)

                      order_finish_time  id_tariff
order_time
2021-07-01 00:17:26                 NaT       11.0
2021-07-01 00:36:00 2021-07-01 01:42:00       10.0
2021-07-01 00:36:32                 NaT       11.0
2021-07-01 00:36:34                 NaT       10.0

In [87]:
df.iloc[:5,[2,3]]

                    arrive_to_client_time   order_finish_time
order_time
2021-07-01 00:13:39                   NaT                 NaT
2021-07-01 00:17:26   2021-07-01 00:33:26                 NaT
2021-07-01 00:36:00   2021-07-01 00:44:00 2021-07-01 01:42:00
2021-07-01 00:36:32                   NaT                 NaT
2021-07-01 00:36:34   2021-07-01 00:50:34                 NaT

# Введение в функции

In [127]:
def func_trial1(a):
    
    print("Наше число = ",a)
    print("Наше число в квадрате = ",a**2)
    
    
d = func_trial1(4)
print(d)

Наше число =  4
Наше число в квадрате =  16

In [130]:
def func_trial1(a):
    
    print("Наше число = ",a)
    print("Наше число в квадрате = ",a**2)
    
    b = a**3
    c = 2*a**3
    d = 3*a**3
    
    return b, c, d

In [115]:
a_cube, two_a_cube, three_a_cube = func_trial1(3)

Наше число =  3
Наше число в квадрате =  9

In [117]:
a_test = func_trial1(3)

Наше число =  3
Наше число в квадрате =  9

In [131]:
a_test1, a_test2 = func_trial1(3)

Наше число =  3
Наше число в квадрате =  9

ValueError: too many values to unpack (expected 2)

#### Объединение и пересечение списков

# СЛОВАРИ

#### Соритровка словаря

### Доступ к элементу словаря

### Требования к индексам словаря

### Объекты просмотра словаря

### Сортировка словаря

### Поменять переменные местами

In [ ]:
a = 100
b = 'Строка'
a, b = b, a

In [ ]:
a

In [ ]:
b

In [ ]:
a
b

In [ ]:
print(a)
print(b)

### Всякие разные функции

In [ ]:
def solve(n):
    n1 = n
    n2 = int(str(n) * 2)
    n3 = int(str(n) * 3)
    print(n1 + n2 + n3)

solve(5)